body {
  width: 100%;
  text-align: center;
}

main {
  margin: 0 auto;
  max-width: 100%;
  // text-align: left;
}

.button-box {
  width: 100%;
  text-align: center;
  .bt-new {
    height: 44px;
  }
}
bottom {
  margin: 0 auto;
}
.top-logo {
  margin-top: 8px;
  width: 300px;
}
.top-img {
  width: 90%;
}

.pw-text {
  margin-top: -10px;
}

.thanks-img {
  width: 200px;
  height: 300px;
}

//   @media only screen and (min-width: 600px) {
// }
