.ogp-ichiran-img {
  text-align: center;
  .ogp-img {
    width: 85%;
  }
}

p {
  font-size: 14px;
  line-height: 25px;

  .project-kensu {
    font-size: 30px;
    font-weight: bold;
  }
}

.all-wrapper {
  width: 100%;
  margin-top: 20px;
  .ogp-ichiran-img {
    width: 85%;
  }
  .button-box {
    .bt-new {
      height: 44px;
    }
  }
}
